.about__gallery {
    background-color: $light-gray;
    padding: 30px 0 40px;
    margin-bottom: 50px;

    &__row {
        display: flex;
        justify-content: start;
        margin: -2px -2px 40px;

        a.fancybox {
            text-decoration: none;
            margin: 2px 2px;
            position: relative;
            transition: .2s;



            &::after {
                content: "";
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 36px;
                height: 35px;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.9048 35C33.6244 35 33.343 34.8927 33.1294 34.6782L25.3722 26.9084C22.5861 29.3276 19.0606 30.6488 15.3326 30.6488C11.2366 30.6488 7.38594 29.055 4.49027 26.1597C1.59459 23.2655 0 19.4178 0 15.325C0 11.231 1.59459 7.38225 4.49027 4.48912C7.38594 1.59379 11.2366 0 15.3326 0C19.4286 0 23.2782 1.59379 26.1739 4.48912C29.0696 7.38334 30.6642 11.231 30.6642 15.325C30.6642 19.0511 29.3423 22.5747 26.9208 25.3606L34.6802 33.1325C35.1073 33.5606 35.1062 34.2524 34.6791 34.6804C34.4645 34.8938 34.1841 35 33.9048 35ZM15.3326 2.19037C11.8215 2.19037 8.52056 3.55648 6.03886 6.03803C3.55717 8.51848 2.19037 11.8166 2.19037 15.326C2.19037 18.8344 3.55717 22.1336 6.03886 24.613C8.52056 27.0945 11.8215 28.4606 15.3326 28.4606C18.8438 28.4606 22.1436 27.0945 24.6253 24.613C27.107 22.1325 28.4738 18.8344 28.4738 15.326C28.4738 11.8166 27.107 8.51739 24.6253 6.03803C22.1436 3.55648 18.8438 2.19037 15.3326 2.19037ZM15.3173 22.4631C15.3162 22.4631 15.3162 22.4631 15.3151 22.4631C14.7106 22.462 14.221 21.9705 14.2221 21.3652L14.2342 16.4163L9.28281 16.4043C8.67826 16.4032 8.18872 15.9117 8.18981 15.3063C8.19091 14.7032 8.68155 14.215 9.285 14.215H9.28719L14.2385 14.227L14.2506 9.27816C14.2517 8.67502 14.7423 8.18681 15.3458 8.18681H15.348C15.9525 8.1879 16.442 8.6794 16.441 9.28473L16.4289 14.2336L21.3802 14.2456C21.9848 14.2467 22.4743 14.7382 22.4732 15.3436C22.4722 15.9467 21.9815 16.4349 21.3781 16.4349C21.377 16.4349 21.377 16.4349 21.3759 16.4349L16.4245 16.4229L16.4125 21.3717C16.4103 21.9749 15.9207 22.4631 15.3173 22.4631Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                z-index: 10;
            }

            &::before {
                display: none;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.522);
            }

            &:hover {

                &::after {

                    display: inline;

                }

                &::before {
                    display: inline;

                }

            }
        }

    }

    p {
        margin-bottom: 0;

        span {
			font-weight: $font-semibold;
        }
    }
}

.about__advantages {
    background-color: $light-blue;
    padding: 70px 0 100px;

    .title_2 {
        text-transform: none;
    }

    &__row {
        display: flex;
        margin: 0 -10px;


        &__item {
            width: 100%;
            margin: 0 10px;

            .image-box {

                background-size: cover;
                display: block;
                padding-top: 55%;
                width: 100%;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
            }

            .text-box {
                background-color: $white;
                padding: 20px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                box-shadow: 0px 5px 13px 0px rgba(34, 60, 80, 0.08);

                .title-box {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    img {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                    }

                    .title_4 {
                        margin-bottom: 0;
                    }
                }
            }

        }
    }

}

.about {
    .page-title {
        margin-bottom: 0;
    }
}
