.all-models__first-screen{
	display: flex;

	.choose-model{
		width: 100%;

		&__row{
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			width: 100%;
			&__item{
				width: 20%;
				text-align: center;
				margin-bottom: 50px;
				img{
					width: 100%;
					height: auto;
					margin-bottom: 15px;
					padding: 5px;
				}
			}
		}
	}
	.dropdown{
		margin-bottom: 30px;
	}
}

.all-devices{
	display: flex;
	margin-bottom: 80px;
	.choose-device{
		width: 100%;

		&__row{
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			width: 100%;
			&__item{
				width: 33%;
				text-align: center;
				margin-bottom: 50px;
				padding: 0 10px 30px;
			}
		}
		.picture{
			img{
				width: 100%;
				height: auto;
				max-height: 350px;
			}
		}
	}
}
