
.specific-model-service__first-screen{
	display: flex;
	padding-bottom: 50px;
	.image-box{

		min-width: 400px;
	}
	.description-box{
		margin-left: 70px;
		max-width: Min(70vw, 800px);
		padding: 23px 0;
		p{
			margin-bottom: 30px;
			span{
				font-weight: $font-semibold;
			}
		}
		.service-time,
		.service-price{
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			img{
				width: 22px;
				height: 22px;
				margin-right: 10px;
			}
			span{
				font-weight: $font-semibold;
			}
		}
		.service-price{
			margin-bottom: 35px;
		}
	}
}
