
body,
html{
	height: 100%;
	color: $primary;
	font-size: 16px;
	line-height: 30px;
	font-family: $font-regular;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
main{
	flex: 1 1 auto;
}
img {
	width: initial;
	height: initial;
}
