<div class="about__advantages">
    <div class="container">
        <div class="title_2">
            Наши преимущества
        </div>
        <div class="about__advantages__row">
            <div class="about__advantages__row__item">
                <div class="image-box" style="background-image: url(assets/img/about-advantages-first.jpg);">

                </div>
                <div class="text-box">
                    <div class="title-box">
                        <img width='100' height='100' loading="lazy" src="assets/img/star-icon.svg" alt="star-icon">
                        <div class="title_4">
                            Большой опыт
                        </div>
                    </div>
                    <p>
                        Штат квалифицированных специалистов.
                        Профессиональный подход к решению задач.
                        Ремонт любой сложности.
                    </p>
                </div>
            </div>
            <div class="about__advantages__row__item">
                <div class="image-box" style="background-image: url(assets/img/about-advantages-second.jpg);">

                </div>
                <div class="text-box">
                    <div class="title-box">
                        <img width='100' height='100' loading="lazy" src="assets/img/time-icon.svg" alt="time-icon">
                        <div class="title_4">
                            Быстрый сервис
                        </div>
                    </div>
                    <p>
                        Штат квалифицированных специалистов.
                        Профессиональный подход к решению задач.
                        Ремонт любой сложности.
                    </p>
                </div>
            </div>
            <div class="about__advantages__row__item">
                <div class="image-box" style="background-image: url(assets/img/about-advantages-third.jpg);">

                </div>
                <div class="text-box">
                    <div class="title-box">
                        <img width='100' height='100' loading="lazy" src="assets/img/shield-icon.svg" alt="shield-icon">
                        <div class="title_4">
                            Гарантия качества
                        </div>
                    </div>
                    <p>
                        Штат квалифицированных специалистов.
                        Профессиональный подход к решению задач.
                        Ремонт любой сложности.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
