<div class="choose-model__row__item">
    <a href="template-page_specific-model.html">
		<picture class="picture">
			<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
		</picture>
		iPhone 4
	</a>
</div>
<div class="choose-model__row__item">
    <a href="template-page_specific-model.html">
		<picture class="picture">
			<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
		</picture>
		iPhone 4s
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">
			<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
		</picture>
		iPhone 5
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">
			<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
		</picture>
		iPhone 5c
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">
			<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
		</picture>
		iPhone 5s
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-6.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/iphone-6.png" alt="model-img">

		</picture>
		iPhone 6
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-6-plus.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/iphone-6-plus.png" alt="model-img">

		</picture>
		iPhone 6 plus
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-6s.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/iphone-6s.png" alt="model-img">

		</picture>
		iPhone 6s
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-7.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/iphone-7.png" alt="model-img">

		</picture>
		iPhone 7
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-7-plus.webp'>
			<img width="100" height="100" loading="eager" src="assets/img/iphone-7-plus.png" alt="model-img">

		</picture>
		iPhone 7 plus
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-8.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/iphone-8.png" alt="model-img">

		</picture>
		iPhone 8
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-8-plus.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/iphone-8-plus.png" alt="model-img">

		</picture>
		iPhone 8 plus
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone-X.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/iphone-X.png" alt="model-img">

		</picture>
		iPhone X
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone_xs.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/iphone_xs.png" alt="model-img">

		</picture>
		iPhone XS
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone_xs.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/iphone_xs.png" alt="model-img">

		</picture>
		iPhone XS max
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/iphone_xr.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/iphone_xr.jpg" alt="model-img">

		</picture>
		iPhone XR
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/specific-model-img.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/i-11.jpg" alt="model-img">

		</picture>
		iPhone 11
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/i-11-pro.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/i-11-pro.jpg" alt="model-img">

		</picture>
		iPhone 11 pro
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/i-12.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/i-12.jpg" alt="model-img">

		</picture>
		iPhone 12
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/i-12-mini.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/i-12-mini.jpg" alt="model-img">

		</picture>
		iPhone 12 mini
	</a>
</div>
<div class="choose-model__row__item">

    <a href="template-page_specific-model.html">
		<picture class="picture">

			<source type='image/webp' srcset='assets/img/i-12-pro.webp'>
			<img width="100" height="100" loading="lazy" src="assets/img/i-12-pro.jpg" alt="model-img">

		</picture>
		iPhone 12 pro
	</a>
</div>
