<div class="dropdown">
    <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Выберите Ваше устройство
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 13 ProMax</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 13 Pro</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 13</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 13 Mini</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 12 ProMax</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 12 Pro</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 12</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 12 Mini</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 11 ProMax</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 11 Pro</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 11</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone XR</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone XS Max</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone XS</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone X</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 8 plus</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 8</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 7 plus</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 7</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone SE</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 6s plus</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 6s</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 6 plus</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 6</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 5s</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 5c</a>
        </div>
        <div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 5</a>
        </div>
		<div class="dropdown-menu__item">
            <a href="template-page_specific-model.html">iPhone 5</a>
        </div>

    </div>
</div>

