<div class="container">
    <div class="all-devices">
        <div class="choose-device">
            <div class="choose-device__row">
                <div class="choose-device__row__item">
                    <a href="template-page_all-models.html">
					<picture class="picture">
						<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
						<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
					</picture>
					Ремонт iPhone в Харькове
				</a>
                </div>
                <div class="choose-device__row__item">
                    <a href="template-page_all-models.html">
					<picture class="picture">
						<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
						<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
					</picture>
					Ремонт iPad в Харькове
				</a>
                </div>
                <div class="choose-device__row__item">
                    <a href="template-page_all-models.html">
					<picture class="picture">
						<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
						<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
					</picture>
					Ремонт iMac/MacBook в Харькове
				</a>
                </div>
                <div class="choose-device__row__item">
                    <a href="template-page_all-models.html">
					<picture class="picture">
						<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
						<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
					</picture>
					Ремонт Apple Watch в Харькове
				</a>
                </div>
                <div class="choose-device__row__item">
                    <a href="template-page_all-models.html">
					<picture class="picture">
						<source type='image/webp' srcset='assets/img/devices-img-phones.webp'>
						<img width="100" height="100" loading="eager" src="assets/img/devices-img-phones.jpg" alt="model-img">
					</picture>
					Ремонт Airpods в Харькове
				</a>
                </div>
            </div>
        </div>

        @@include('sidebar.html')
    </div>
</div>
<div class="container">
	<div class="all-models__first-screen">
		<div class="choose-model">
			@@include('all-models_dropdown.html')
			<div class="choose-model__row">
				@@include('all-models_items.html')
			</div>
		</div>
		@@include('sidebar.html')
	</div>
</div>
