<div class="call-to-action">
    <div class="container">
        <div class="call-to-action__content">
            <div class="image-box">
                <picture class="picture">
					<source type='image/webp' media="(max-width: 574px)" srcset='assets/img/services-call-to-action-mobile.webp'>
					<source media="(max-width: 574px)" srcset='assets/img/services-call-to-action-mobile.jpg'>
					<source type='image/webp' srcset='assets/img/services-call-to-action.webp'>
					<img width='100' height='100' loading="lazy" src='assets/img/services-call-to-action.jpg' alt='call-to-action'>
				</picture>
			</div>
            <div class="text-box">
                <div class="title_2">
                     Для всех, кто обращается через сайт специальные условия
                </div>
                <div class="btn-box">
                    <span>
                     Скидка 10%!
                    </span>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Discount">Получить скидку</button>
                </div>
            </div>

            </div>
        </div>
    </div>
