<div class="container header__menu">

    <a href="index.html" class="logo">
			<img width="100" height="100" loading="eager" src="assets/img/logo.svg" alt="menu-img">
			Сервисный центр техники Apple
		</a>
    <nav class="header-nav">
        <ul class="desktop-nav">
            <li>
                <a href="template-page_all-models.html">
						<div class="image-box">
							<img width="100" height="100" loading="eager" src="assets/img/menu-iphone.svg"  alt="menu-img">
						</div>
						<span>Ремонт iPhone</span>
					</a>
                <ul class="menu-box">
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Pro Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Rro</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Mini</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11 Pro Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11 Pro</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xr</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xr Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xs</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone X</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 8 Plus</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 8</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 7 Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 7</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone SE</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6s Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6s</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6 Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 5</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 5c</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 4s</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 4</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="template-page_all-models.html">
						<div class="image-box">
							<img width="100" height="100" loading="eager" src="assets/img/menu-ipad.svg" alt="menu-img">
						</div>
						<span>Ремонт iPad</span>
					</a>
					<ul class="menu-box">
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Pro Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Rro</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Mini</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 11 Pro Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 11 Pro</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 11</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xr</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xr Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xs</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone X</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 8 Plus</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 8</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 7 Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 7</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone SE</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6s Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6s</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 6 Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 5</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 5c</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 4s</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 4</a>
								</li>
							</ul>
						</li>
					</ul>
            </li>
            <li>
                <a href="template-page_all-models.html">
						<div class="image-box">
							<img width="100" height="100" loading="eager" src="assets/img/menu-imac.svg" alt="menu-img">
						</div>
						<span>Ремонт iMac</span>
					</a>
                <ul class="menu-box">
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Pro Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Rro</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Mini</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11 Pro Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11 Pro</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xr</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xr Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xs</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone X</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 8 Plus</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 8</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 7 Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 7</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone SE</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6s Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6s</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6 Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 5</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 5c</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 4s</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 4</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="template-page_all-models.html">
						<div class="image-box">
							<img width="100" height="100" loading="eager" src="assets/img/menu-macbook.svg" alt="menu-img">
						</div>
						<span>Ремонт Macbook</span>
					</a>
                <ul class="menu-box">
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Rro</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 12 Mini</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11 Pro Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11 Pro</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 11</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xr</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xr Max</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone Xs</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone X</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 8 Plus</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 8</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 7 Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 7</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone SE</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6s Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6s</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6 Plus</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 6</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 5</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 5c</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 4s</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">iPhone 4</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="template-page_all-models.html">
						<div class="image-box">
							<img width="100" height="100" loading="eager" src="assets/img/menu-watch.svg" alt="menu-img">
						</div>
						<span>Ремонт Apple Watch</span>
					</a>
					<ul class="menu-box">
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Pro Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Rro</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Mini</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 11 Pro Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 11 Pro</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 11</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xr</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xr Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xs</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone X</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 8 Plus</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 8</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 7 Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 7</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone SE</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6s Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6s</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 6 Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 5</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 5c</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 4s</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 4</a>
								</li>
							</ul>
						</li>
					</ul>
            </li>
            <li>
                <a href="template-page_all-models.html">
						<div class="image-box">
							<img width="100" height="100" loading="eager" src="assets/img/menu-airpods.svg" alt="menu-img">
						</div>
						<span>Ремонт Airpods</span>
					</a>
					<ul class="menu-box">
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Pro Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Rro</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 12 Mini</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 11 Pro Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 11 Pro</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 11</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xr</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xr Max</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone Xs</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone X</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 8 Plus</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 8</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 7 Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 7</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone SE</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6s Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6s</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="template-page_specific-model.html">iPhone 6 Plus</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 6</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 5</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 5c</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 4s</a>
								</li>
								<li>
									<a href="template-page_specific-model.html">iPhone 4</a>
								</li>
							</ul>
						</li>
					</ul>
            </li>
            <li class="about-us-menu">
                <a href="template-page_about.html">
					<span>О нас</span>
					<div class="about__arrow"></div>
				</a>
				<ul class="menu-box">
                    <li>
                        <ul>
							<li>
								<a href="template-page_specific-model.html">iPhone 6 Plus</a>
							</li>
                            <li>
								<a href="template-page_specific-model.html">iPhone 6</a>
							</li>
                            <li>
								<a href="template-page_specific-model.html">iPhone 5</a>
							</li>
                            <li>
								<a href="template-page_specific-model.html">iPhone 5c</a>
							</li>
                            <li>
								<a href="template-page_specific-model.html">iPhone 4s</a>
							</li>
                            <li>
								<a href="template-page_specific-model.html">iPhone 4</a>
							</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <form class="form-search">
                    <div class="input-box">
                        <input type="search" />
                    </div>
                    <div class="btn-box">
                        <button class="btn-search" type="button">
                            <img width="100" height="100" loading="eager" src="assets/img/menu-search.svg" alt="menu-img"/>
						</button>
                            <input class="btn-submit" type="submit" value="">
                    </div>
                </form>
            </li>
        </ul>
        @@include('header_menu-burger.html')
    </nav>
</div>
