<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#8D7DB9">
    <meta name="viewport" content="width=device-width, height=device-height">
    <title>Job's Service</title>
    <link rel="shortcut icon" href="assets/img/smartphone-icon.svg" />

    <!-- <link rel="preload" href="fonts/bebas_neue_regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Robotobold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/CenturyGothic-Bold.woff2" as="font" crossorigin="anonymous">
    -->

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-5.0.2.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- <script src="assets/js/picturefill.js"></script> -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>




    <style>

    @font-face {
        font-family: 'Montserrat-Regular';
        src: url('assets/fonts/Montserrat-Regular.ttf')format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    </style>
</head>

<body>
	<div class='thetop'></div>
	<div class='scrolltop'>
		<div class='move-top'></div>
	</div>
    <a href="markup.html" class="markup-link">markup</a>
