<div class="home__devices">
    <div class="container">
        <div class="home__devices__row">
            <div class="home__devices__row__item">
				<a href="template-page_all-models.html">
					<div class="title-box">
						Ремонт iPhone Харьков
					</div>
					<div class="image-box" style="background-image: url(assets/img/devices-img-phones.jpg);">
					</div>
				</a>
                <div class="dropdown">
                    <button class="btn-dropdown dropdown-toggle" type="button" id="devicesIphone" data-bs-toggle="dropdown" aria-expanded="false">
                        Выберите Ваше устройство
                    </button>
                    <div class="dropdown-menu" aria-labelledby="devicesIphone">
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 13 ProMax</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 13 Pro</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 13</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 13 Mini</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 12 ProMax</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 12 Pro</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 12</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 12 Mini</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 11 ProMax</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 11 Pro</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 11</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone XR</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone XS Max</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone XS</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone X</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 8 plus</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 8</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 7 plus</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 7</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone SE</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 6s plus</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 6s</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 6 plus</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 6</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 5s</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 5c</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPhone 5</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__devices__row__item">
				<a href="template-page_all-models.html">
					<div class="title-box">
						Ремонт iPhone Харьков
					</div>
					<div class="image-box" style="background-image: url(assets/img/devices-img-tablets.jpg);">
					</div>
				</a>
				<div class="dropdown">
                    <button class="btn-dropdown dropdown-toggle" type="button" id="devicesIpad" data-bs-toggle="dropdown" aria-expanded="false">
                        Выберите Ваше устройство
                    </button>
                    <div class="dropdown-menu" aria-labelledby="devicesIpad">
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad Pro 10.5</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad Pro 12.9</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad Pro 9.7</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad Pro</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad Air 3 2019</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad 10.2 2019</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad Air 2</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad Air</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad mini 5</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad mini 4</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad mini 3</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad mini 2</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad mini</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad 4</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad 3</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">iPad 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__devices__row__item">
				<a href="template-page_all-models.html">
					<div class="title-box">
						Ремонт iPhone Харьков
					</div>
					<div class="image-box" style="background-image: url(assets/img/devices-img-laptops.jpg);">
					</div>
				</a>

				<div class="dropdown">
                    <button class="btn-dropdown dropdown-toggle" type="button" id="devicesMacbook" data-bs-toggle="dropdown" aria-expanded="false">
                        Выберите Ваше устройство
                    </button>
                    <div class="dropdown-menu" aria-labelledby="devicesMacbook">
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple iMac</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Mac mini</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook 12</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Pro M1</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Pro 2019</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Pro 2018</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Pro 2017</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Pro 2016</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Pro Retina</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Pro</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Air M1</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">MacBook Air </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__devices__row__item">
               <a href="template-page_all-models.html">
				<div class="title-box">Ремонт Apple Watch Харьков</div>
                <div class="image-box" style="background-image: url(assets/img/devices-img-watches.jpg);">
                </div>
			   </a>
				<div class="dropdown">
                    <button class="btn-dropdown dropdown-toggle" type="button" id="devicesWatch" data-bs-toggle="dropdown" aria-expanded="false">
                        Выберите Ваше устройство
                    </button>
                    <div class="dropdown-menu" aria-labelledby="devicesWatch">
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch 7</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch SE</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch 6</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch 5</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch 4</a>
                        </div>
                        <div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch 3</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch 2</a>
                        </div>
						<div class="dropdown-menu__item">
                            <a href="template-page_specific-model.html">Apple Watch 1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
