<div class="home__advantages">
	<div class="container">
		<div class="title-box">
			<div class="title_2">
				Преимущества
			</div>
			<p>
				Выбирая ремонт в нашем сервисе, вы получаете:
			</p>
		</div>
		<div class="home__advantages__row">
			<div class="home__advantages__row__item">
				<img width="100" height="100" loading="lazy" src="assets/img/home-advantage-first.svg" alt="home-advantage">
				<div class="text-box">
					<div class="title_4">
						Профессиональные мастера
					</div>
					<div class="rating">
						Рейтинг: <span class="number-rating">4.8-5.0</span><span class="star-rating"><span style="width: 100%;"></span></span>
					</div>
				</div>
			</div>
			<div class="home__advantages__row__item">
				<img width="100" height="100" loading="lazy" src="assets/img/home-advantage-second.svg" alt="home-advantage">
				<div class="text-box">
					<div class="title_4">
						Программа лояльности
					</div>
					<div class="discount">
						Сделаем скидку!
					</div>
				</div>
			</div>
			<div class="home__advantages__row__item">
				<img width="100" height="100" loading="lazy" src="assets/img/home-advantage-third.svg" alt="home-advantage">
				<div class="text-box">
					<div class="title_4">
						Расположены у центральной станции метро
					</div>
					<a href="template-page_contacts.html">Позвоните нам</a>
				</div>
			</div>
		</div>


	</div>
</div>
