<div class="devices">
    <div class="container">
        <div class="title_2">
            Выберите свое устройство
        </div>
        <div class="devices__row">
            <div class="devices__row__item red">
                <div class="title-box">
                    <div class="image-box">
                        <a href="template-page_all-models.html">
							<picture>
							<source srcset="assets/img/iphone.webp" type="image/webp">
							<img width='100' height='100' loading="lazy" src="assets/img/iphone.png" alt="device">
						    </picture>
						</a>
                    </div>
                    <div class="title_3">
                        <a href="template-page_all-models.html">Ремонт iPhone</a>
                    </div>
                </div>
                <div class="device-list">
                    <div class="btn-device">
                        <a href="template-page_all-models.html">Выберите свое устройство</a>
                        <img width='100' height='100' loading="lazy" src="assets/img/arrow-down.svg" class="btn-device__arrow" alt="arrow">
					</div>
                        <ul>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 5
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 5c
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 5s
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 6
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 6 plus
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 6s
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 6s plus
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone SE
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 7
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 7 plus
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 8
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 8 plus
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone X
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone XS
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone XS Max
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone XR
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 11
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 11 Pro
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 11 Pro Max
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 12
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 12 Pro
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 12 Pro Max
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 13
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 13 mini
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 13 Pro
							</a>
                            </li>
                            <li>
                                <a href="template-page_specific-model.html">
								iPhone 13 Pro Max
							</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="devices__row__item blue">
                    <div class="title-box">
                        <div class="image-box">
                            <a href="template-page_all-models.html">
								<picture>
									<source srcset="assets/img/ipad.webp" type="image/webp">
									<img width='100' height='100' loading="lazy" src="assets/img/ipad.png" alt="device">
								</picture>
							</a>
                        </div>
                        <div class="title_3">
                           <a href="template-page_all-models.html">
							Ремонт iPad Харьков
						   </a>
                        </div>
                    </div>
                    <div class="device-list">
                        <div class="btn-device">
                            <a href="template-page_all-models.html">Выберите свое устройство</a>
                            <img width='100' height='100' loading="lazy" src="assets/img/arrow-down.svg" class="btn-device__arrow" alt="arrow">
					</div>
                            <ul>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad 2
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad 3
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad 4
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad mini
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad mini 2
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad mini 3
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad mini 4
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad mini 5
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad Air
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad Air 2
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad 10.2 2019
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad Air 3 2019
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad Pro
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad Pro 9.7
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad Pro 10.5
							</a>
                                </li>
                                <li>
                                    <a href="template-page_specific-model.html">
								iPad Pro 12.9
							</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="devices__row__item red">
                        <div class="title-box">
                            <div class="image-box">
                                <a href="template-page_all-models.html">
									<picture>
										<source srcset="assets/img/macbook.webp" type="image/webp">
										<img width='100' height='100' loading="lazy" src="assets/img/macbook.png" alt="device">
							</picture>
								</a>
                            </div>
                            <div class="title_3">
                                <a href="template-page_all-models.html">
									Ремонт iMac/MacBook
								</a>
                            </div>
                        </div>
                        <div class="device-list">
                            <div class="btn-device">
                                <a href="template-page_all-models.html">Выберите свое устройство</a>
                                <img width='100' height='100' loading="lazy" src="assets/img/arrow-down.svg" class="btn-device__arrow" alt="arrow">
					</div>
                                <ul>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Air
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Air M1
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Pro
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Pro Retina
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Pro 2016
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Pro 2017
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Pro 2018
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Pro 2019
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook Pro M1
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Macbook 12
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Apple Mac mini
							</a>
                                    </li>
                                    <li>
                                        <a href="template-page_specific-model.html">
								Apple iMac
							</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="devices__row__item blue">
                            <div class="title-box">
                                <div class="image-box">
                                    <a href="template-page_all-models.html">
										<picture>
											<source srcset="assets/img/applewatch.webp" type="image/webp">
											<img width='100' height='100' loading="lazy" src="assets/img/applewatch.png" alt="device">
										</picture>
									</a>
                                </div>
                                <div class="title_3">
                                    <a href="template-page_all-models.html">
										Ремонт Apple Watch
									</a>
                                </div>
                            </div>
                            <div class="device-list">
                                <div class="btn-device">
                                    <a href="template-page_all-models.html">Выберите свое устройство</a>
                                    <img width='100' height='100' loading="lazy" src="assets/img/arrow-down.svg" class="btn-device__arrow" alt="arrow">
					</div>
                                    <ul>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 1
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 2
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 3
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 4
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 5
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 6
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch SE
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 7
							</a>
                                        </li>
                                        <li>
                                            <a href="template-page_specific-model.html">
								Apple Watch 7
							</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
