<div class="container">
	<div class="home__about-us">

		<div class="image-box">
			<div class="decor-box"></div>
			<picture class="picture">
				<source type='image/webp' media="(max-width: 575px)" srcset='assets/img/about-us-mobile.webp'>
				<source media="(max-width: 575px)" srcset='assets/img/about-us-mobile.jpg'>
				<source type='image/webp' media="(max-width: 991px)" srcset='assets/img/about-us-tablet.webp'>
				<source media="(max-width: 991px)" srcset='assets/img/about-us-tablet.jpg'>
				<source type='image/webp' srcset='assets/img/about-us-desktop.webp'>
				<img width='100' height='100' loading="lazy" src='assets/img/about-us-desktop.jpg' alt='article-img'>
			</picture>
		</div>
		<div class="text-box">
			<div class="title_2">
				О нас
			</div>
			<p>
				Ремонт айфонов в Харькове предлагает множество мастерских, но почему клиенты выбирают Job’s Service?
				Бесплатная диагностика. Вам не придется платить за проверку гаджета, даже если вы откажетесь от дальнейшего ремонта.
			</p>
			<p>
				Бесплатная диагностика. Вам не придется платить за проверку гаджета, даже если вы откажетесь от дальнейшего ремонта. Оригинальные детали и комплектующие. Наш сервисный центр Apple использует в работе только качественные запчасти.
			</p>
			<b>
				<p>
					Ремонт iPhone в Харькове любых моделей с гарантией.
					Джобс Сервис – мы знаем, как вернуть ваш гаджет к жизни
					и максимально продлить срок его эксплуатации.
				</p>
			</b>
		</div>
	</div>
</div>
