<div class="popular-services">
	<div class="container">
		<div class="title-box">
			<div class="title_2">
				Популярные услуги
			</div>
			<p>
				Выбирая ремонт в нашем сервисе, вы получаете:
			</p>
		</div>
		<div class="popular-services__list">
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-first.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Замена стекла iPhone</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-second.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает дисплей/тачскрин</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-third.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Замена корпуса iPhone</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-fourth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Попала вода</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-fifth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Ремонт системной платы</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-sixth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не заряжается</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-seventh.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">iPhone быстро разряжается</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-eighth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает Wi-Fi</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-nineth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает кнопка home</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-tenth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="service.html">Не работает камера</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-eleventh.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает звук</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-twelfth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает микрофон</a>
				</div>
			</div><div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-thirteenth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает кнопка включения</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-fourteenth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает кнопка громкости</a>
				</div>
			</div>
			<div class="popular-services__list__item">
				<a href="template-page_service.html">
					<img width="100" height="100" loading="lazy" src="assets/img/services-img-fifteenth.svg" alt="services-icon" class="img-fluid">
				</a>
				<div class="link-box">
					<a href="template-page_service.html">Не работает вибро</a>
				</div>
			</div>
		</div>
	</div>
</div>
