<!--discount-->

<div class="modal fade" id="Discount" tabindex="-1" aria-labelledby="DiscountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="DiscountLabel">Получить скидку</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="template-form">
                    <form>
                        <div class="input-box">
                            <label for="name">
                                Ваше имя*
                            </label>
                            <span class="wpcf7-not-valid">
								<input type="text"  id="name" placeholder="Андрей" required/>
								<span class="wpcf7-not-valid-tip" aria-hidden="true">Поле обязательно для заполнения.</span>
                            </span>
                        </div>
                        <div class="input-box">
                            <label for="tel">
                                Ваш телефон
                            </label>
                            <input type="tel" id="tel" placeholder="+38 (099) 049 69 04" required />
                        </div>
                        <div class="input-box">
                            <label for="email">
                                Ваш email
                            </label>
                            <input type="email" id="email" placeholder="user@gmail.com" required />
                        </div>
                        <div class="input-box">
                            <label for="defect">
                                Ваше устройство и интересующая услуга
                            </label>
                            <textarea id="defect" placeholder="iPhone X Замена стекла" required></textarea>
                        </div>
                        <div class="input-box">
                            <input type="submit" id="button" value="Получить скидку" class="hidden">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--appointment-->

<div class="modal fade" id="service" tabindex="-1" aria-labelledby="serviceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="serviceLabel">Заказать ремонт для iPhone X</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="template-form">
                    <form>
                        <div class="input-box">
                            <label for="name">
                                Ваше имя*
                            </label>
                            <span class="wpcf7-not-valid-tip"><input type="text"  id="name" placeholder="Андрей" required/><label class="validation-error">обязательное поле</label></span>
                        </div>
                        <div class="input-box">
                            <label for="tel">
                                Ваш телефон
                            </label>
                            <input type="tel" id="tel" placeholder="+38 (099) 049 69 04" required />
                        </div>
                        <div class="input-box">
                            <label for="email">
                                Ваш email
                            </label>
                            <input type="email" id="email" placeholder="user@gmail.com" required />
                        </div>
                        <div class="input-box">
                            <label for="defect">
                                Услуга
                            </label>
                            <input type="text" id="defect" required />
                        </div>
                        <div class="date-time">
                            <div class="input-box date">
                                <label for="calendar">
                                    Дата
                                </label>
                                <input id="calendar" type="date" value="2017-06-01">
                            </div>
                            <div class="input-box time">
                                <label for="time">
                                    Время
                                </label>
                                <input id="time" type="time" value="00:00">
                            </div>
                        </div>
                        <div class="input-box">
                            <input type="submit" id="button" value="Записаться" class="hidden">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="model" tabindex="-1" aria-labelledby="modelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="modelLabel">Замена стекла</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="template-form">
                    <form>
                        <div class="input-box">
                            <label for="name">
                                Ваше имя*
                            </label>
                            <span class="wpcf7-not-valid-tip"><input type="text"  id="name" placeholder="Андрей" required/><label class="validation-error">обязательное поле</label></span>
                        </div>
                        <div class="input-box">
                            <label for="tel">
                                Ваш телефон
                            </label>
                            <input type="tel" id="tel" placeholder="+38 (099) 049 69 04" required />
                        </div>
                        <div class="input-box">
                            <label for="email">
                                Ваш email
                            </label>
                            <input type="email" id="email" placeholder="user@gmail.com" required />
                        </div>
                        <div class="input-box">
                            <label for="yourModel">
                                Ваше устройство
                            </label>
                            <input type="text" id="yourModel" required />
                        </div>
                        <div class="date-time">
                            <div class="input-box date">
                                <label for="calendar">
                                    Дата
                                </label>
                                <input id="calendar" type="date" value="2017-06-01">
                            </div>
                            <div class="input-box time">
                                <label for="time">
                                    Время
                                </label>
                                <input id="time" type="time" value="00:00">
                            </div>
                        </div>

                        <div class="input-box">
                            <input type="submit" id="button" value="Записаться" class="hidden">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- free diagnostic -->

<div class="modal fade" id="freeDiagnostic" tabindex="-1" aria-labelledby="freeDiagnostic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="freeDiagnosticLabel">Бесплатная диагностика</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="template-form">
                    <form>
                        <div class="input-box">
                            <label for="name">
                                Ваше имя*
                            </label>
                            <input type="text" id="name" placeholder="Андрей" required />
                        </div>
                        <div class="input-box">
                            <label for="tel">
                                Ваш телефон*
                            </label>
                            <input type="tel" id="tel" placeholder="+38 (099) 049 69 04" required />
                        </div>
                        <div class="input-box">
                            <label for="description">
                                Ваше устройство и интересующая услуга
                            </label>
                            <textarea id="description" required></textarea>
                        </div>
                        <div class="date-time">
                            <div class="input-box date">
                                <label for="calendar">
                                    Дата
                                </label>
                                <input id="calendar" type="date" value="2017-06-01">
                            </div>
                            <div class="input-box time">
                                <label for="time">
                                    Время
                                </label>
                                <input id="time" type="time" value="00:00">
                            </div>
                        </div>
                        <div class="input-box">
                            <input type="submit" id="button" value="Записаться" class="hidden">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- review -->


<div class="modal fade" id="review" tabindex="-1" aria-labelledby="review" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="reviewLabel">Оставить отзыв</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="template-form">
                    <form>
                        <div class="input-box">
                            <label for="name">
                                Ваше имя*
                            </label>
                            <input type="text" id="name" placeholder="Андрей" required />
                        </div>
                        <div class="input-box">
                            <label for="email">
                                Ваш email
                            </label>
                            <input type="email" id="email" placeholder="user@gmail.com" required />
                        </div>
                        <div class="input-box">
                            <label for="description">
                                Ваш отзыв
                            </label>
                            <textarea id="description" required></textarea>
                        </div>
                        <div class="input-box">
                            <input type="submit" id="button" value="Оставить отзыв" class="hidden">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--define model-->

<div class="modal fade" id="pickModel" tabindex="-1" aria-labelledby="pickModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="pickModelLabel">Как определить модель</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="description scroll">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit neque cum atque! Sit a fuga enim natus! Sed tempore iure cupiditate numquam dolore minima! Minus provident aliquam est dolor maxime!</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- map -->

<div class="modal fade" id="map" tabindex="-1" aria-labelledby="mapLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="map">Modal title2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d640.8423916312329!2d36.21573879940969!3d50.0231705199308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a12cff0b4f1f%3A0x5fb640d65d060061!2z0J_RltGG0LXRgNGW0Y8gTyFwaXp6YSDQvdCwINCx0L7RgtCw0L3RltGH0L3QvtC80YMg0YHQsNC00YM!5e0!3m2!1sru!2sua!4v1636021640005!5m2!1sru!2sua" width="100%" height="450" style="bmodel:0;" allowfullscreen="" loading="lazy"></iframe>
                </form>
            </div>
        </div>
    </div>
</div>
