<div class="other-defects">
    <div class="title_3">Другие неисправности</div>
    <div class="other-defects__item">
        <a href="single_article.html"><img width='100' height='100' loading="lazy" src="assets/img/other-defects-img.jpg" alt="other-defects-img"></a>
        <div class="text-box">
            <a href="single_article.html">Мерцает экран iPhone: причины и способы решения проблемы</a>
        </div>
    </div>
    <div class="other-defects__item">
        <a href="single_article.html"><img width='100' height='100' loading="lazy" src="assets/img/other-defects-img-second.jpg" alt="other-defects-img"></a>
        <div class="text-box">
            <a href="single_article.html">Не работает подсветка дисплея iPhone: как решить проблему?</a>
        </div>
    </div>
    <div class="other-defects__item">
        <a href="single_article.html"><img width='100' height='100' loading="lazy" src="assets/img/other-defects-img-third.jpg" alt="other-defects-img"></a>
        <div class="text-box">
            <a href="single_article.html">Не фокусируется задняя или передняя камера iPhone: причины и способы решения проблемы</a>
        </div>
    </div>
    <div class="other-defects__item">
        <a href="single_article.html"><img width='100' height='100' loading="lazy" src="assets/img/other-defects-img-fourth.jpg" alt="other-defects-img"></a>
        <div class="text-box">
            <a href="single_article.html">Не слышно собеседника на iPhone: что делать?</a>
        </div>
    </div>
    <div class="other-defects__item">
        <a href="single_article.html"><img width='100' height='100' loading="lazy" src="assets/img/other-defects-img-fifth.jpg" alt="other-defects-img"></a>
        <div class="text-box">
            <a href="single_article.html">Что делать, если на iPhone не работает Face ID?</a>
        </div>
    </div>
</div>
