<div class="post-item">
    <h2 class="title_2">
	Наши преимущества:
</h2>
    <h3 class="title_3">
	Бесплатная диагностика
</h3>
    <p>
        Всегда бесплатная диагностика, даже при отказе от ремонта
    </p>
    <h3 class="title_3">
	Профессиональный подход к решению задач
</h3>
    <p>
        Специалисты сервисного центра Job’s Service обладают всеми необходимыми знаниями, навыками и опытом для решения самого широкого спектра неполадок техники Apple.
        Поэтому мы осуществляем ремонт техники Apple любой сложности как на модульном, так и на компонентном (пайка микросхем) уровнях.
    </p>
    <h4 class="title_4">
	Мы обслуживаем всю технику Apple и осуществляем:
</h4>
    <p>
        Специалисты сервисного центра Job’s Service обладают всеми необходимыми знаниями, навыками и опытом для решения самого широкого спектра неполадок техники Apple.
        Поэтому мы осуществляем ремонт техники Apple любой сложности как на модульном, так и на компонентном (пайка микросхем) уровнях.
    </p>
    <ol>
        <li> <strong>Lorem ipsum dolor sit, amet</strong> consectetur adipisicing elit. Ullam, magni a minima illo reprehenderit similique vel quo. Dolorem dolor est natus reprehenderit voluptatem porro itaque, dignissimos fuga asperiores eaque corporis.
            Rerum esse inventore corrupti eos architecto, harum voluptatibus perferendis temporibus deserunt quos placeat natus vel est, tempora necessitatibus ipsam ex sed nulla maiores eum numquam minima! Sequi nulla quisquam doloremque!</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, magni a minima illo reprehenderit similique vel quo. Dolorem dolor est natus reprehenderit voluptatem porro itaque, dignissimos fuga asperiores eaque corporis.
            Rerum esse inventore corrupti eos architecto, harum voluptatibus perferendis temporibus deserunt quos placeat natus vel est, tempora necessitatibus ipsam ex sed nulla maiores eum numquam minima! Sequi nulla quisquam doloremque!</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, magni a minima illo reprehenderit similique vel quo. Dolorem dolor est natus reprehenderit voluptatem porro itaque, dignissimos fuga asperiores eaque corporis.
            Rerum esse inventore corrupti eos architecto, harum voluptatibus perferendis temporibus deserunt quos placeat natus vel est, tempora necessitatibus ipsam ex sed nulla maiores eum numquam minima! Sequi nulla quisquam doloremque!</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, magni a minima illo reprehenderit similique vel quo. Dolorem dolor est natus reprehenderit voluptatem porro itaque, dignissimos fuga asperiores eaque corporis.
            Rerum esse inventore corrupti eos architecto, harum voluptatibus perferendis temporibus deserunt quos placeat natus vel est, tempora necessitatibus ipsam ex sed nulla maiores eum numquam minima! Sequi nulla quisquam doloremque!
        </li>
    </ol>
    <p>
        На нашем сайте Вы можете ознакомиться с подробным перечнем услуг по ремонту техники Apple, а также ценами, типами моделей и поколениями устройств. Наши клиенты могут рассчитывать на индивидуальный подход и максимум внимания к проблеме своего устройства.
    </p>
    <h3 class="title_3">
		Скорость ремонта
	</h3>
    <p>
        Большинство ремонтов мы выполняем за то время, пока вы будете наслаждаться вкусным кофе, сидя у нас на диване.
    </p>
	<picture class="picture">
		<source type='image/webp' media="(max-width: 574px)" srcset='assets/img/about-us-mobile.webp'>
		<source media="(max-width: 574px)" srcset='assets/img/about-us-mobile.jpg'>
		<source type='image/webp' srcset='assets/img/about.webp'>
		<img width="100" height="100" loading="lazy" src="assets/img/about.jpg" alt="post-item-img" class="alignleft">
	</picture>

	<h3 class="title_3">
		Высокий уровень обслуживания
	</h3>
    <p>
        Для замены вышедших из строя деталей в нашем сервисном центре мы используем запчасти на технику Apple только от надежных, проверенных производителей и поставщиков. При замене любой части нами соблюдаются все стандарты и нормы данной технологии. Это позволяет вернуть Вашему устройству его изначальный вид и функциональность, которые еще долго будут радовать своего владельца.
    </p>
    <p>
        Для замены вышедших из строя деталей в нашем сервисном центре мы используем запчасти на технику Apple только от надежных, проверенных производителей и поставщиков. При замене любой части нами соблюдаются все стандарты и нормы данной технологии. Это позволяет вернуть Вашему устройству его изначальный вид и функциональность, которые еще долго будут радовать своего владельца.
        Для замены вышедших из строя деталей в нашем сервисном центре мы используем запчасти на технику Apple только от надежных, проверенных производителей и поставщиков. При замене любой части нами соблюдаются все стандарты и нормы данной технологии. Это позволяет вернуть Вашему устройству его изначальный вид и функциональность, которые еще долго будут радовать своего владельца.
    </p>

	<picture class="picture">
		<source type='image/webp' media="(max-width: 574px)" srcset='assets/img/about-us-mobile.webp'>
		<source media="(max-width: 574px)" srcset='assets/img/about-us-mobile.jpg'>
		<source type='image/webp' srcset='assets/img/about.webp'>
		<img width="100" height="100" loading="lazy" src="assets/img/about.jpg" alt="post-item-img" class="alignright">
	</picture>
    <p>
        Для замены вышедших из строя деталей в нашем сервисном центре мы используем запчасти на технику Apple только от надежных, проверенных производителей и поставщиков. При замене любой части нами соблюдаются все стандарты и нормы данной технологии. Это позволяет вернуть Вашему устройству его изначальный вид и функциональность, которые еще долго будут радовать своего владельца.
    </p>
    <p>
        Для замены вышедших из строя деталей в нашем сервисном центре мы используем запчасти на технику Apple только от надежных, проверенных производителей и поставщиков. При замене любой части нами соблюдаются все стандарты и нормы данной технологии. Это позволяет вернуть Вашему устройству его изначальный вид и функциональность, которые еще долго будут радовать своего владельца.
        Для замены вышедших из строя деталей в нашем сервисном центре мы используем запчасти на технику Apple только от надежных, проверенных производителей и поставщиков. При замене любой части нами соблюдаются все стандарты и нормы данной технологии. Это позволяет вернуть Вашему устройству его изначальный вид и функциональность, которые еще долго будут радовать своего владельца.
    </p>
    <h3 class="title_3">
		Гарантия
	</h3>
    <p>
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
    </p>
    <ul>
        <li> <strong>Lorem ipsum dolor</strong> sit amet consectetur, adipisicing elit. Sint, laborum.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, laborum.</li>
    </ul>
    <p>
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
    </p>
    <blockquote>
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
    </blockquote>
    <p>
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
    </p>
    <picture class="picture">
		<source type='image/webp' media="(max-width: 574px)" srcset='assets/img/about-us-mobile.webp'>
		<source media="(max-width: 574px)" srcset='assets/img/about-us-mobile.jpg'>
		<source type='image/webp' srcset='assets/img/post-item-img.webp'>
		<img width="100" height="100" loading="lazy" src="assets/img/post-item-img.jpg" alt="post-item-img" class="aligncenter">
	</picture>
    <h3 class="title_3">
		Использование качественных комплектующих
	</h3>
    <p>
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
        Мы готовы подтвердить качество предоставляемых нами услуг на ремонт техники Apple собственной гарантией от 3 до 12 мес. Наличие гарантии избавит Вас от непредвиденных проблем с Вашим устройством в будущем.
    </p>
</div>
