<div class="review-box">
	<div class="user-info">
		<div class="avatar">
			<img width="100" height="100" loading="lazy" src="assets/img/user-photo.jpg" alt="user-photo">
		</div>
		<div class="title_3">
			Nikita Starchenko
		</div>
	</div>
	<div class="text-box">

		Читал отзывы – сомневался (прям все такие положительные) сегодня заехал убедился лично! Сервис европейского уровня в родном Харькове. Менял аккумулятор на 5S. Все сделали быстро и аккуратно.
		Респект парни!		Читал отзывы – сомневался (прям все такие положительные) сегодня заехал убедился лично! Сервис европейского уровня в родном Харькове. Менял аккумулятор на 5S. Все сделали быстро и аккуратно.
		Респект парни!		Читал отзывы – сомневался (прям все такие положительные) сегодня заехал убедился лично! Сервис европейского уровня в родном Харькове. Менял аккумулятор на 5S. Все сделали быстро и аккуратно.
		Респект парни!		Читал отзывы – сомневался (прям все такие положительные) сегодня заехал убедился лично! Сервис европейского уровня в родном Харькове. Менял аккумулятор на 5S. Все сделали быстро и аккуратно.
		Респект парни!

	</div>
	<div class="publication-date">
		12.11.2021
	</div>
</div>
