<div class="service__seo-text">
	<div class="container">
		<h2 class="title_2">
			Замена стекла iPhone
		</h2>
		<p>
			Замена стекла iPhone 7 Харьков – инженеры Apple, создавая очередное «яблоко», всегда стремятся впечатлить потенциальных покупателей. И смартфон iPhone 7 не стал исключением. Модель получила обновленный 4-х ядерный процессор – A10 Fusion, а также 2 Гб оперативной памяти. Естественно, производительность «семерки» намного выше, чем у предшествующих моделей. В сравнении прошлым поколением вычислительная мощность увеличилась на 25%. При такой «начинке» каких-либо проблем с запуском и работой ресурсоемких приложений и игр не возникнет.
		</p>
		<p>
			Замена стекла на iPhone будет выполнена оперативно, если вы своевременно приедете в нашу мастерскую.Поэтому не откладывайте такой важный визит — у наших мастеров достаточно опыта, чтобы разобраться с проблемой и восстановить ваше устройство.
		</p>
		<h3 class="title_3">
			Насколько прочные стекла мы ставим на iPhone
		</h3>
		<p>
			Замерить прочность стекла в условиях сервисного центра невозможно. Что известно точно: стекло которое мы устанавливаем относится к тому же типу химически закаленных стекол как и оригинальное, скорее всего отличается по прочности незначительно.
		</p>
		<h3 class="title_3">
			Диагностика проблемы
		</h3>
		<p>
			Стоит отметить, что как ремонт устройств, так и диагностика неполадок – дело, что под силу лишь экспертам. Для точного определения причины поломки, а также грамотного проведения ремонтных работ требуется серьезный багаж знаний и профессиональных навыков узкой направленности. Техника компании Apple – «крепкий орешек» и «по зубам» исключительно опытным экспертам.
		</p>
		<p>
			На все работы по ремонту, замене стекла в iPhone  в «Job’s Service» (Харьков)  предоставляется гарантия.
		</p>
		<p>
			Технология ОСА – это залог высокого качества. В отличие от замены стекла с использованием клея, она имеет массу преимуществ.
			С применением пленки мастерам удается полностью повторить сборку дисплейного модуля, как это происходит на заводе-производителе. Поэтому новый модуль по своим параметрам ничуть не уступает оригиналу. В работе мастера используют прозрачную
			и тонкую пленку, которая исключает искажений картинки. Никаких заметных искажений, цветных пятен или частей стекла, выступающих над поверхностью смартфона. Да и сам сенсор работает без проблем и сбоев. При замене стекла по технологии OCA не предусматривается применение клея.
		</p>
	</div>
</div>
