<div class="service__description">
	<div class="container">
		<h2 class="title_2">
			Замена стекла iPhone
		</h2>
		<p>
			Замена стекла iPhone 7 Харьков – инженеры Apple, создавая очередное «яблоко», всегда стремятся впечатлить потенциальных покупателей. И смартфон iPhone 7 не стал исключением. Модель получила обновленный 4-х ядерный процессор – A10 Fusion, а также 2 Гб оперативной памяти. Естественно, производительность «семерки» намного выше, чем у предшествующих моделей. В сравнении прошлым поколением вычислительная мощность увеличилась на 25%. При такой «начинке» каких-либо проблем с запуском и работой ресурсоемких приложений и игр не возникнет.
		</p>
		<p>
			Замена стекла на iPhone будет выполнена оперативно, если вы своевременно приедете в нашу мастерскую.Поэтому не откладывайте такой важный визит — у наших мастеров достаточно опыта, чтобы разобраться с проблемой и восстановить ваше устройство.
		</p>
	</div>
</div>
