<div class="other-services">
    <div class="container">
        <div class="title_2">Ещё поможем, если</div>
        <div class="other-services__content">
            <div class="other-services__content__row">
                <div class="other-services__content__row__item">
                    <img width="100" height="100" loading="lazy"  src="assets/img/services-img-thirteenth.svg" alt="service-other">
                    <a href="#">Не включается</a>
                </div>
                <div class="other-services__content__row__item">
                    <img width="100" height="100" loading="lazy"  src="assets/img/services-img-fourth.svg" alt="service-other">
                    <a href="#">Утонул или намок</a>
                </div>
                <div class="other-services__content__row__item">
                    <img width="100" height="100" loading="lazy"  src="assets/img/services-img-eighth.svg" alt="service-other">
                    <a href="#">Не видит сеть</a>
                </div>
            </div>
            <div class="other-services__content__row">
                <div class="other-services__content__row__item">
                    <img width="100" height="100" loading="lazy"  src="assets/img/services-img-sixth.svg" alt="service-other">
                    <a href="#">Не заряжается</a>
                </div>
                <div class="other-services__content__row__item">
                    <img width="100" height="100" loading="lazy"  src="assets/img/services-img-fourteenth.svg" alt="service-other">
                    <a href="#">Не работает динамик</a>
                </div>
                <div class="other-services__content__row__item">
                    <img width="100" height="100" loading="lazy"  src="assets/img/services-img-nineth.svg" alt="service-other">
                    <a href="#">Не работают кнопки</a>
                </div>
            </div>
        </div>
    </div>
</div>
