<div class="share-list">
	<div class="share-list__title">
		Поделиться:
	</div>
	<a href="#"><img width="100" height="100" loading="lazy" src="assets/img/header-facebook.svg" alt="facebook"></a>
	<a href="#"><img width="100" height="100" loading="lazy" src="assets/img/header-telegram.svg" alt="telegram"></a>
	<a href="#"><img width="100" height="100" loading="lazy" src="assets/img/header-viber.svg" alt="telegram"></a>
	<a href="#"><img width="100" height="100" loading="lazy" src="assets/img/header-instagram.svg" alt="telegram"></a>
	<a href="#"><img width="100" height="100" loading="lazy" src="assets/img/header-whatsup.svg" alt="telegram"></a>
</div>
