<div class="container">
	<div class="slider-testimonials">
		<div class="decor-box"></div>
		<div class="title_2">
			Ценим ваше доверие
		</div>

		<!-- Максимальное количество символов для отзыва в слайдере - 240. Длинные отзывы закидываеим на страницу "Отзывы".-->


		<div class="slider">
			<div class="slider__item">
				@@include('review-box-normal.html')
			</div>
			<div class="slider__item">
				@@include('review-box-normal.html')
			</div>
			<div class="slider__item">
				@@include('review-box-normal.html')
			</div>
			<div class="slider__item">
				@@include('review-box-normal.html')
			</div>
			<div class="slider__item">
				@@include('review-box-normal.html')
			</div>
			<div class="slider__item">
				@@include('review-box-normal.html')
			</div>
		</div>

		<a href="template-page_testimonials.html" class="btn btn-primary">Все отзывы</a>
	</div>

</div>
